# CMake build directories in the root and subdirectories
/build/
/CMakeFiles/
/CMakeCache.txt
/CMakeScripts/
/CMakeScripts/CMakeOutput.log
/CMakeScripts/CMakeError.log
/CMakeScripts/cmake_install.cmake
/CMakeScripts/CMakeTmp/

# Compiled CUDA files
*.ptx
*.cubin
*.fatbin

# Compiled object files
*.o

# Executables
*.exe
*.out

# Compiled libraries
*.so
*.a

# Mac-specific files
.DS_Store

# Windows-specific files
Thumbs.db
